<app-header-compressed></app-header-compressed>
<div class="mainWrapper row">
  <div class="graphWrapper">
    <app-expense-per-employee displayClass="displaySmall"
                              (viewFullEvent)="viewFullScreen($event)"></app-expense-per-employee>
  </div>
  <div class="graphWrapper">
    <app-expense-by-branch displayClass="displaySmall"
                           (viewFullEvent)="viewFullScreen($event)"></app-expense-by-branch>
  </div>
  <div class="graphWrapper">
    <app-expense-per-employee displayClass="displaySmall"
                              (viewFullEvent)="viewFullScreen($event)"></app-expense-per-employee>
  </div>
  <div class="graphWrapper">
    <app-expense-per-employee displayClass="displaySmall"
                              (viewFullEvent)="viewFullScreen($event)"></app-expense-per-employee>
  </div>
  <div class="graphWrapper">
    <app-expense-per-employee displayClass="displaySmall"
                              (viewFullEvent)="viewFullScreen($event)"></app-expense-per-employee>
  </div>
</div>
