
<div style="display: flex;">
  <div style="border: 1px solid #dfdfdf;display:flex;margin: 10px;">
<app-expense-per-employee></app-expense-per-employee>
<app-expense-by-branch></app-expense-by-branch>
</div>
<div style="border: 1px solid #dfdfdf;display:flex;margin: 10px;">
  <app-expense-by-business-area></app-expense-by-business-area>
  <app-expense-by-cost-center></app-expense-by-cost-center>
</div>
</div>
<div style="border: 1px solid #dfdfdf;display:flex;margin: 10px;">
  <app-expense-by-designation></app-expense-by-designation>
</div>
