<div style="display: flex">
  <div style="margin-left: 20px;">
    Year:
    <select (change)="onDataChange()" [(ngModel)]="filter.year">
      <option value="">All</option>
      <option value="2016">2016</option>
      <option value="2017">2017</option>
      <option value="2018">2018</option>
    </select>
  </div>
  <div style="margin-left: 20px;">
    Quarter:
    <select (change)="onQuarterChange()" [(ngModel)]="filter.quarter">
      <option value="">All</option>
      <option value="1,2,3">Q1</option>
      <option value="4,5,6">Q2</option>
      <option value="7,8,9">Q3</option>
      <option value="10,11,12">Q4</option>
    </select>
  </div>
  <div style="margin-left: 20px;">
    Month:
    <select (change)="onDataChange()" [(ngModel)]="filter.month">
      <option value="">All</option>
      <option value="1" *ngIf="isMonthVisible(3)">Jan</option>
      <option value="2" *ngIf="isMonthVisible(3)">Feb</option>
      <option value="3" *ngIf="isMonthVisible(3)">Mar</option>

      <option value="4" *ngIf="isMonthVisible(6)">Apr</option>
      <option value="5" *ngIf="isMonthVisible(6)">May</option>
      <option value="6" *ngIf="isMonthVisible(6)">Jun</option>

      <option value="7" *ngIf="isMonthVisible(9)">Jul</option>
      <option value="8" *ngIf="isMonthVisible(9)">Aug</option>
      <option value="9" *ngIf="isMonthVisible(9)">Sep</option>

      <option value="10" *ngIf="isMonthVisible(12)">Oct</option>
      <option value="11" *ngIf="isMonthVisible(12)">Nov</option>
      <option value="12" *ngIf="isMonthVisible(12)">Dec</option>
    </select>
  </div>
</div>
