# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Project\ITC_CostAnalysis_WIZ\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/


