.displaySmall{
  height: 280px;
  width: 320px;
  display: block;
}

.displayFull{
  height: 500px;
  width: 840px;
  display: block;
}

mat-icon{
  float: right;
  cursor: pointer;
  position: relative;
  top: -275px;
}
